<!--
  Generated template for the ItemPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToItemPage()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Items de {{category.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="showEntriesByItem($event, item)">
      {{item.name}}

      <div class="item-note" item-right>
        {{item.total | currency:'BRL':true:'.2'}}
      </div>
    </ion-item>
    <ion-item>
      <ion-chip item-right no-margin no-padding>
        <ion-icon name="swap" color="dark" no-margin no-padding></ion-icon>
        <ion-label><h1><b ion-text color="primary" >Total</b> {{category.total | currency:'BRL':true:'.2'}}</h1></ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>


  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>

