<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Minha Obra</h3>

  <p>
    GASTOS
  </p>

  <ion-card *ngIf="showDetailsFinacial">
    <ion-label>Estimado: R$ {{building.estimated_value}}</ion-label>
    <ion-label>Gasto: R$ {{totalSpent}}</ion-label>
    <ion-label>Saldo: R$ {{balance}}</ion-label>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col id="progress">
        <progress-bar [progress]="loadProgress"></progress-bar>
      </ion-col>
      <ion-col id="icon-details">
        <ion-icon name="more" item-right (click)="showDetails()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div style="display: block">

  <canvas #categoryCanvas></canvas>
  <!--  <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                *ngIf="isDataAvailable">
    </canvas>
  -->

  </div>

  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-icon [name]="category.icon" item-left></ion-icon>

      <div item-left (click)="goToItemList($event, category)">
        {{category.name}}
      </div>

      <div class="item-note" item-right>
        R$ {{category.total}}
      </div>

      <ion-icon name="add" item-right (click)="goToEntryPage(category)"></ion-icon>

    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="goToReports()">
        <ion-icon name="stats"></ion-icon>
        <ion-title>
        Relatórios
        </ion-title>
      </button>
      <button ion-button (click)="goToRankingPage()">
        <ion-icon name="stats"></ion-icon>
        <ion-title>
        Ranking de Preços
        </ion-title>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
