<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Minha Obra</h3>

  <p>
    GASTOS
  </p>

  <ion-card *ngIf="showDetailsFinacial">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <ion-label><b ion-text color="primary">Estimado:</b> {{building.estimated_value | currency:'BRL':true:'.2'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label><b ion-text color="primary">Gasto: </b>{{totalSpent | currency:'BRL':true:'.2'}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label><b ion-text color="primary">Saldo:</b> {{balance | currency:'BRL':true:'.2'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label><b ion-text color="primary">M² Estimado: </b>{{valueMeterEstimated | currency:'BRL':true:'.2'}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label><b ion-text color="primary">M² Atual: </b> {{valueMeterActual | currency:'BRL':true:'.2'}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col id="progress">
        <progress-bar [progress]="loadProgress"></progress-bar>
      </ion-col>
      <ion-col id="icon-details">
        <ion-icon name="more" item-right (click)="showDetails()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="display: block">

  <canvas #categoryCanvas></canvas>
  <!--  <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                *ngIf="isDataAvailable">
    </canvas>
  -->

  </div>

  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-icon [name]="category.icon" item-left></ion-icon>

      <div item-left (click)="goToItemList($event, category)">
        {{category.name}}
      </div>

      <div class="item-note" item-right>
        {{category.total | currency:'BRL':true:'.2'}}
      </div>

      <ion-icon name="add" item-right (click)="goToEntryPage(category)"></ion-icon>

    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="goToReports()">
        <ion-icon name="stats"></ion-icon>
        <ion-title>
        Relatórios
        </ion-title>
      </button>
      <button ion-button (click)="goToRankingPage()">
        <ion-icon name="stats"></ion-icon>
        <ion-title>
        Ranking de Preços
        </ion-title>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
